*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

.navbg, .bodybg2{
    background-color: #1ebff0;
}
.body-bg{
    background-color: #686464;
}

.txtColor{
    color: #1ebff0;
}
.btnBgcolor{
 background-color: #B6DD1A;
}

.txtcolor2{
 color: #686464;
}

.InputF{
   background-color: #D9D9D9; 
}


/* main style */

.hero-image{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background: rgba(0, 0, 0, 0.5);
   color: white;
   position: relative;
   overflow: hidden;
   min-height: 90vh;
}

.video-bg{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
min-width: 100%;
min-height: 100%;
z-index: -1;
}

  body, .ptitle{
    background-color: #434a82;
  }

  .btnDrpdown{
    background-color: #0e9adc;
  }

  .offcanvasMenu, .homeCard{
    background-color: #c2ecff;
  }